<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @admin_incident_report.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @admin_incident_report.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @admin_incident_report.longitude %>
</p>


<%= link_to 'Edit', edit_admin_incident_report_path(@admin_incident_report) %> |
<%= link_to 'Back', admin_incident_reports_path %>
