<% title "Edit #{resource_name.to_s.humanize}" %>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |form| %>
  <%= form.inputs do %>
    <%= form.input :full_name, :required => true %>
    <%= form.input :email, :required => true %>
    <%= form.input :password, :required => true, :hint => "leave blank if you don't want to change it" %>
    <%= form.input :password_confirmation, :required => true %>
    <% if resource.password_stored? %>
      <%= form.input :current_password, :required => true, :hint => "we need your current password to confirm your changes" %>
    <% end %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button 'Update' %>
  <% end %>
<% end %>

<h2>Schandfleck-Abos:</h2>
<table border="0" cellspacing="5" cellpadding="5">
	<% Subscription.find(:all, :conditions => { :email => resource.email}).each do |subscription| %>
		<tr><th>Email</th><th>Longitude</th><th>Latitude</th><th>Distance</th><th></th></tr>
		<tr>
			<td><%= subscription.email %></td>
			<td><%= subscription.longitude %></td>
			<td><%= subscription.latitude %></td>
			<td><%= subscription.distance %></td>
			<td><%= link_to "Loeschen", subscription, :remote => true, :confirm => 'Are you sure?', :method => :delete %>
		</tr>
	<% end %>
</table>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
