<% content_for :head do %>
    <script type="text/javascript"
      src="http://maps.google.com/maps?file=api&v=2&key=<%= configatron.gmapkeyv2 %>&sensor=false" >
    </script>
    <%= javascript_include_tag 'clustermap' %>
    <%= javascript_include_tag 'data' %>
    <%= javascript_include_tag 'markerclusterer' %>

<% end %>

<div id="landingpage">
	<%= image_tag("banner.png", :alt => configatron.app_name) %>
		<span class="title">In deiner Stadt</span>
		<div id="map" style="background: #fff; width:800px; height: 300px;"></div>


			<script type="text/javascript">
					$(document).ready(function(){
              async_clustermap("map", 45, 16, 4, "/1/incident_reports.json");
					});
			</script>
 
	<div id="main_content">
		<div class="col">
			<h2>Neue Schandflecken</h2>
			<% if @latest_incident_reports.nil? || @latest_incident_reports.empty? %>
				Keine Schandflecken vorhanden
			<% else %>
				<ul class="incidentlist">
					<%= render :partial => 'incident_block', :collection => @latest_incident_reports %>
				</ul>
			<% end %>
		</div>
		
		<div class="col">
			<h2>Behobene Schandflecken</h2>
			<% if @solved_incident_reports.nil? || @solved_incident_reports.empty? %>
				Noch keine Schandflecken behoben
			<% else %>
				<ul class="incidentlist">
					<%= render :partial => 'incident_block', :collection => @solved_incident_reports %>
				</ul>
			<% end %>
		</div>

		<div class="col">
			<h2>Wie kann ich mitmachen?</h2>
				Add Text here
		</div>	
	<div class="clear"></div>
	</div> <!--main_content-->
</div>
