<% content_for :head do %>
    <%= javascript_include_tag 'gmap' %>
    <script type="text/javascript"
          src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
<% end %>

<p id="notice"><%= notice %></p>

<h1><%= @incident_report.description %></h1>

<div id="container" class="grid_12 ">
	<div id="left" class="grid_8 alpha">
		<div id="image">
			<%= image_tag(@incident_report.image.image.url, :size => "640x480") unless @incident_report.image.nil? %>
		</div><!-- image -->
    	<div id="description">
        	<div class="avatar"></div><!--avatar-->
       		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in sagittis velit. Praesent fringilla, turpis eget suscipit egestas, dui lacus tempor magna, nec ultrices elit mauris et urna. Proin sit amet lectus neque, ac aliquet lectus. Nulla egestas, lectus eget faucibus rhoncus, libero nisi vulputate urna, eget iaculis quam sem ut dolor. Nam vulputate, dolor sit amet consectetur  </p>
		</div><!--description-->
        
      <div id="likes">
				<%= render :partial => 'incident_reports/likes', :locals => { :incident => @incident_report } %>
			</div>

			<div class="buttons">
		  	<% if current_user %>
		  		<%= link_to 'Stört mich auch', dislike_incident_report_path, :remote => true %>
		  		<%= link_to "Problem gelöst?", resolve_incident_report_path, :remote => true %>
		  		<%= link_to 'kein schandfleck?', not_a_problem_incident_report_path, :remote => true %>
		  		<% end %>
		  		<%= link_to 'Back', incident_reports_path %>
        </div><!--buttons-->
        
        <div id="comments" class="comments">
        	<h2>Kommentare</h2>

					<%= render @incident_report.comments %>
				</div><!--comments-->    	
			
		<div id="comment_new">
			<% @comment = @incident_report.comments.build %>
			<%= render :partial => 'comments/form', :locals => {:comment => @comment} %>
		</div>
	</div><!--left-->

	<div id="right" class="grid_4  omega">
    
		<div id="map">
        	<% if @incident_report.location_valid? %>
				<div id="map" style="background: #ccc; width:300px; height: 300px;"></div>
				<script type="text/javascript">
					$(document).ready(function(){
			    		dynamic_gmap_with_marker("map", <%= @incident_report.latitude %>, <%= @incident_report.longitude%>, "<%= escape_javascript(@incident_report.description) %>");
					});
				</script>
			<% end %>
        </div><!--map-->
        
        <div id="subscribe">
        	RSS & beobachten buttons go here
        </div><!--subscribe-->
        
        <div id="categories">
        	Categories go here
        </div><!--categories-->
        
	</div><!--right-->
</div><!--container-->