<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@incident_report.image.image.url) unless @incident_report.image.nil? %>
</p>

<p>
  <b>Description:</b>
  <%= @incident_report.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @incident_report.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @incident_report.longitude %>
</p>

<p>
  Dislikes: <%= @incident_report.dislikers.count %><br/>
  Not-A-Problem: <%= @incident_report.no_problemers.count %><br/>
</p>

<p>
</p>

<p>
  <% @incident_report.comments.each do |c| %>
    <div id="comment_<%=c.id%>">
      <%= c.body %>
    </div>
  <% end %>
</p>

<p>
  <% @comment = @incident_report.comments.build %>
  <%= semantic_form_for(@comment, :url => incident_report_incident_report_comments_path(@incident_report)) do |form| %>
    <%= form.inputs do %>
      <%= form.input :body %>
    <% end %>

    <%= form.buttons %>
  <% end %>
</p>

<%= link_to 'Dislike', dislike_incident_report_path %>
<%= link_to 'Not A Problem', not_a_problem_incident_report_path %>
<%= link_to 'Back', incident_reports_path %>
