<%= image_tag("banner.png", :alt => configatron.app_name) %>
<% content_for :head do %>
    <%= javascript_include_tag 'gmap' %>
    <script type="text/javascript"
          src="http://maps.google.com/maps/api/js?sensor=false">
    </script>

		<% content_for :head do %>
			<%= auto_discovery_link_tag :atom, incident_report_url(@incident_report, :atom) %>
			<%= auto_discovery_link_tag :rss, incident_report_url(@incident_report, :rss) %>
		<% end %>
<% end %>

<p id="notice"><%= notice %></p>

<div id="incident_container" class="grid_12 ">
	<div class="left" class="grid_8 alpha">
		<div class="image">
			<%= image_tag(@incident_report.image.image.url, :size => "450x450") unless @incident_report.image.nil? %>
		</div>
		<!-- image -->
    	<div id="description">
        	<div class="avatar"></div><!--avatar-->
       		<p><%= @incident_report.description %></p>
		</div><!--description-->
        
      <div id="likes">
				<%= render :partial => 'incident_reports/likes', :locals => { :incident => @incident_report } %>
			</div>

			<div class="buttons">
		  	<% if current_user %>
		  		<%= link_to 'Stört mich auch', dislike_incident_report_path, :remote => true %>
		  		<%= link_to "Problem gelöst?", resolve_incident_report_path, :remote => true %>
		  		<%= link_to 'kein schandfleck?', not_a_problem_incident_report_path, :remote => true %>
		  		<% end %>
		  		<%= link_to 'Back', :back %>
        </div><!--buttons-->
        
        <div id="comments" class="comments">
        	<h2>Kommentare</h2>
			<%= render @incident_report.comments %>
		</div><!--comments--> 
			
		<div id="comment_new">
			<% @comment = @incident_report.comments.build %>
			<%= render :partial => 'comments/form', :locals => {:comment => @comment} %>
		</div>
	</div><!--left-->
</div><!--container-->
