<% content_for :head do %>
	<%= javascript_include_tag 'gmap' %>
	<script type="text/javascript"
          src="http://maps.google.com/maps/api/js?sensor=false">
	</script>
<% end  %>

<p id="notice"><%= notice %></p>

<div>
	<div id="map" style="background: #ccc; width:600px; height: 300px;"></div>
	<script type="text/javascript">
				$(document).ready(function(){
		    		dynamic_gmap_with_marker("map", <%= @subscription.latitude %>, <%= @subscription.longitude%>, "Wo?");
				});
	</script>
</div>

<div>
	<div id="subscriptions">
		<%= form_for(@subscription) do |f| %>
			<%= f.hidden_field :latitude %>
    	<%= f.hidden_field :longitude %>
			<div>
		  	<%= f.label :distance %>
      	<%= f.text_field :distance %>
			</div>
			<div>
      	<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			<%= f.submit %>
		<% end %>
	</div>
</div>

<div class="left_column_content">
	<i>Beschreibung des subscription features..</i>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $('#mapsearchform').submit(function(){
      update_map_by_address($('#address').val());
      return false;
    })

    addMarkerChangedListener('subscriptions_latitude', 'subscriptions_longitude');
  });
</script>

<div style="clear:both"></div>
